<h2>Sample of Project Work</h2>
<br>
<% @projects.each do |project| %>
  <% if project['stargazers_count'] > 0 %>
    <div class="card">
      <h4><%= link_to project['name'] %></h4>
      <p><%= project['description'] %></p>
      <p>Language: <%= project['language'] %> | Stars: <%= project['stargazers_count'] %></p>
      <h5><%= link_to "View on GitHub", project['html_url'] %></h5>
    </div>
    <br>
  <% end %>
<% end %>
