<!DOCTYPE html>
<html>
  <head>
    <title>PersonalSite</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Libre+Baskerville" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid nav-wrap">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <ul class="main-nav">
              <li><%= link_to image_tag('tent.png'), root_path, class: 'tent' %></li>
              <li><h3><%= link_to "About", about_path %> </h3></li>
              <li><h3> <%= link_to "Projects", projects_path %></h3></li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul id="main-nav" class="main-nav">
              <% if current_admin %>
                <li><%= link_to current_admin.email, edit_admin_registration_path %></li>
                <li><%= link_to "Log Out", destroy_admin_session_path, method: 'delete' %></li>
              <% else %>
                <li><%= link_to "Admin Log In", new_admin_session_path %></li>
                <li><%= link_to "Admin Sign Up", new_admin_registration_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container main-content">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
